.button {
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}

.button svg {
  height: 18px;
  width: 18px;
  fill: #444;
}

.button:hover {
  color: #06c;
}

.button:hover svg {
  fill: #06c;
}
