.highlighter-pre {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  overflow: auto;
  padding: 0 8px;
}

.highlighter-code {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.code-editor-toolbar {
  padding: 8px;
}
