@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.wrap {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.display {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.quill-container {
  overflow: auto;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  border: none;
}
